
.textBar {
  display: flex;
  align-items: stretch;
}

.textBar-input {
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  flex-grow: 1;
  box-sizing: border-box;
}

.textBar-send {
  border-radius: 0;
  border: none;
}
